<!-- PROGRESS BAR -->
<app-progress-bar></app-progress-bar>
<!-- / PROGRESS BAR -->

<!-- VERTICAL LAYOUT 1 -->
<ng-container *ngIf="layMatConfig.layout.style === 'vertical-layout-1'">
    <app-vertical-layout-1></app-vertical-layout-1>
</ng-container>
<!-- / VERTICAL LAYOUT 1 -->

<!-- VERTICAL LAYOUT 2 -->
<ng-container *ngIf="layMatConfig.layout.style === 'vertical-layout-2'">
    <app-vertical-layout-2></app-vertical-layout-2>
</ng-container>
<!-- / VERTICAL LAYOUT 2 -->
<app-theme-options></app-theme-options>